<p><%= @name %> 社 各位</p>

<p><%= @order.user.company.name %>より新規発注の申し入れがありました。</p>

<p>内容を確認し、受注の可否をシステム上で入力してください。</p>

※このメールは送信専用です。<br>

<p>以下、発注内容です。</p>
===============================

<table>
  <tr>
    <td>注文コード</td>
    <td><%= @order.code %></td>
  </tr>

  <tr>
    <td>到着希望日</td>
    <td><%= @order.date.strftime("%Y年%m月%d日") %></td>
  </tr>

  <tr>
    <td>名前</td>
    <td><%= @order.shipping.name %>さま</td>
  </tr>

  <tr>
    <td>住所</td>
    <td>
      <%= @order.address.prefecture %>
      <%= @order.address.city %>
      <%= @order.address.town %>
      <%= @order.address.address %>
      <%= @order.address.building %>
      <%= @order.address.room_number %>
    </td>
  </tr>

  <tr>
    <td>合計金額</td>
    <td><%= @order.total_price %>円</td>
   </tr>

</table>

<table>
  <thead>
    <tr>
      <td>商品コード</td>
      <td>商品名</td>
      <td>単価</td>
      <td>セット数</td>
      <td>個数</td>
    </tr>
  </thead>

  <tboby>
    <% @order.order_supplies.all.each do |f| %>
      <tr>
        <td><%= f.supply.code %></td>
        <td><%= f.supply.name %></td>
        <td><%= f.supply.price %></td>
        <td><%= f.supply.set %></td>
        <td><%= f.quantity %></td>
      </tr>
    <% end %>
  </tbody>
</table>