<%= form_with(model: invoice, local: true) do |form| %>
  <% if invoice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(invoice.errors.count, "error") %> prohibited this invoice from being saved:</h2>

      <ul>
        <% invoice.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :請求書番号 %>
    <%= form.text_field :code, value: order.code if order.present? %>
  </div>

  <% if order_supplies.present? %>
    <% order_supplies.each do |f| %>
      <%= form.fields_for :invoice_contents do |content| %>

        <div class="field">
          <%= content.label :商品コード %>
          <%= content.text_field :code, value: f.supply.code %>
        </div>
    
        <div class="field">
          <%= content.label :商品名 %>
          <%= content.text_field :name, value: f.supply.name %>
        </div>
  
        <div class="field">
          <%= content.label :セット数 %>
          <%= content.number_field :set, value: f.supply.set %>
        </div>
  
        <div class="field">
          <%= content.label :単価 %>
          <%= content.number_field :price, value: f.supply.price %>
        </div>
  
        <div class="field">
          <%= content.label :個数 %>
          <%= content.number_field :quantity, value: f.quantity %>
        </div>

      <% end %>
    <% end %>
  <% end %>

  <div id="content_forms">
    <%= form.fields_for :invoice_contents do |content| %>  
      <%= render 'content', {content: content, order: order} %>
    <% end %>
  </div>
  <%= link_to_add_association '+商品入力フォームの追加', form, :invoice_contents, partial: "content", data: {association_insertion_node: '#content_forms', association_insertion_method: 'after'}, form_name: 'content' %>

  <div id="address_forms">
    <%= form.fields_for :address do |form| %>
      <div class="field">
        <%= form.label :郵便番号 %>
        <%= form.number_field :postcode, value: current_user.company.address.postcode %>
      </div>

      <div class="field">
        <%= form.label :都道府県名 %>
        <%= form.collection_select :prefecture, JpPrefecture::Prefecture.all, :name, :name, value: current_user.company.address.prefecture %>      </div>

      <div class="field">
        <%= form.label :市町村名 %>
        <%= form.text_field :city, value: current_user.company.address.city %>
      </div>

      <div class="field">
        <%= form.label :地区名 %>
        <%= form.text_field :town, value: current_user.company.address.town %>
      </div>

      <div class="field">
        <%= form.label :以降住所 %>
        <%= form.text_field :address, value: current_user.company.address.address %>
      </div>

      <div class="field">
        <%= form.label :建物名 %>
        <%= form.text_field :building, value: current_user.company.address.building %>
      </div>

      <div class="field">
        <%= form.label :部屋番号 %>
        <%= form.text_field :room_number, value: current_user.company.address.room_number %>
      </div>
    <% end %>
  </div>

  <div id="telephone_forms">
    <%= form.fields_for :telephone do |form| %>
      <div class="field">
        <%= form.label :電話番号 %>
        <%= form.number_field :number, value: current_user.company.telephone.number %>
      </div>
    <% end %>
  </div>

  <br>
  <%= form.hidden_field :user_id, value: current_user.id %>
  <%= form.hidden_field :order_id, value: order.id %>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
