<section class="section">
  <div class ="section_inner">

    <h1>請求書編集</h1>

    <%= form_with(model: @invoice, local: true) do |form| %>
      <% if @invoice.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@invoice.errors.count, "error") %> prohibited this invoice from being saved:</h2>
    
          <ul>
            <% @invoice.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    
      <div class="field">
        <%= form.label :請求書番号 %>
        <%= form.text_field :code %>
      </div>

      <hr color="#f5b771">
    
      <%= form.fields_for :invoice_contents do |content| %>
    
        <div class="field">
          <%= content.label :商品コード %>
          <%= content.text_field :code %>
        </div>
        
        <div class="field">
          <%= content.label :商品名 %>
          <%= content.text_field :name %>
        </div>
      
        <div class="field">
          <%= content.label :セット数 %>
          <%= content.number_field :set %>
        </div>
      
        <div class="field">
          <%= content.label :単価 %>
          <%= content.number_field :price %>
        </div>
      
        <div class="field">
          <%= content.label :個数 %>
          <%= content.number_field :quantity %>
        </div>

        <hr color="#f5b771">
    
      <% end %>
        
      <%= form.fields_for :address do |form| %>
        <%= form.hidden_field :postcode %>
        <%= form.hidden_field :prefecture %>
        <%= form.hidden_field :city %>
        <%= form.hidden_field :town %>
        <%= form.hidden_field :address %>
        <%= form.hidden_field :building %>
        <%= form.hidden_field :room_number %>
      <% end %>
    
      <%= form.fields_for :telephone do |form| %>
        <%= form.hidden_field :number %>
      <% end %>
    
      <%= form.hidden_field :user_id %>
      <%= form.hidden_field :order_id %>  
    
      <div class="actions">
        <%= form.submit %>
      </div>

    <% end %>

    <%= link_to '戻る', index_receive_invoices_path %>

  </div>
</section>
