<section class="section">
  <div class ="section_inner">
    <h1>社員一覧</h1>

    <% flash.each do |key, value| %>
      <%= content_tag(:div, value, class: "#{key}") %>
    <% end %>   

    <table class="osare3-table col4t">
      <thead>
        <tr>
          <th>社員名</th>
          <th>メールアドレス</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= link_to user.name, user_path(user.id) %></td>
            <td><%= user.email %></td>
            <td><%= link_to 'スケジュール一覧', schedules_path(user: user) %>
            <td><%= link_to '削除', user, method: :delete, data: { confirm: '削除しても問題ないでしょうか？' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

  </div>
</section>