<div class="nested-fields">
  <div class="field">
    <%= form.label :date %>
    <%= form.date_select :date %>
  </div>

  <div class="field">
    <%= form.label :what %>
    <%= form.text_field :what %>
  </div>

  <div class="field">
    <%= form.label :do %>
    <%= form.text_field :do %>
  </div>

  <div class="field">
    <%= form.label :check_list %>
    <%= form.text_field :check_list %>
  </div>

  <div class="field">
    <%= form.label :order_id %>
    <%= form.text_field :order_id %>
  </div>
</div>
