<%= form_with(model: schedule, local: true) do |form| %>
  <% if schedule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(schedule.errors.count, "error") %> prohibited this schedule from being saved:</h2>

      <ul>
        <% schedule.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :日付 %>
    <%= form.date_select :date %>
  </div>

  <div class="field">
    <%= form.label :何を %>
    <%= form.text_field :what %>
  </div>

  <div class="field">
    <%= form.label :どうする %>
    <%= form.text_field :do %>
  </div>

    <%= form.hidden_field :check_list %>
    <%= form.hidden_field :order_id, value: order.id %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
