<% supply.map do |s| %>
    <tr>
      <td><%= s.code %></td>
      <td>
        <%= link_to s.name, ajax_orders_path(s.id) %>
      </td>
      <td><%= s.price %></td>
      <td><%= s.set %></td>
      <td><%= s.avarage %></td>
    </tr>
  <% end %>
