<section class="section">
  <div class ="section_inner">

    <h1>注文内容修正</h1>

    <%= form_with(model: @order, local: true) do |form| %>
      <% if @order.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>
    
          <ul>
            <% @order.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    
      <div class="supply-list">
        <table class="osare3-table col4t">
          <thead>
            <tr>
              <th>商品コード</th>
              <th>商品名</th>
              <th>単価</th>
              <th>セット</th>
              <th id="order-form-last">平均個数</th>
            </tr>
          </thead>
    
          <tbody>
            <% @supply.map do |s| %>
              <tr>
              <td><%= s.code %></td>
              <td id=<%= s.id %>>
                <div class="supply-detail">
                  <%= s.name %>
                </div>
              </td>
              <td><%= s.price %></td>
              <td><%= s.set %></td>
        
              <% if s.order_supplies.left_outer_joins(order: {user: :company}).where(companies: {code: current_user.company.code}).present? %>
                <td><%= s.order_supplies.left_outer_joins(order: {user: :company}).where(companies: {code: current_user.company.code}).average(:quantity).round(1) %></td>
              <% else %>
                <td>0</td>
              <% end %>
            
            </tr>
          <% end %>
                  </tbody>
        </table>
    
        <table class="osare3-table col4t">
          <thead>
            <tr>
              <th id="order-form-first"></th>
              <th>個数</th>
              <th>チェック</th>
            </tr>
          </thead>
      
          <tbody>
            <%= form.fields_for :order_supplies do |supply| %>
              <tr>
                <td><%= supply.hidden_field :supply_id %></td>
                <td><%= supply.number_field :quantity, min: 0 %></td>
                <td><%= supply.check_box :availability, :as => :boolean %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
        
      <%= form.hidden_field :code %>
    
      <%= form.fields_for :status do |form| %>
        <%= form.hidden_field :status %>
      <% end %>

      <table>
        <tbody>
    
          <div class="field">
            <tr>
              <td><%= form.label :到着希望日 %></td>
              <td><%= form.date_select :date %></td>
            </tr>
          </div>
      
          <div id="name_forms">
            <%= form.fields_for :shipping do |form| %>

              <div class="field">
                <tr>
                  <td><%= form.label :名前 %></td>
                  <td><%= form.text_field :name %></td>
                </tr>

              </div>
            <% end %>
          </div>
    
          <div id="address_forms">
            <%= form.fields_for :address do |form| %>
  
              <div class="field">
                <tr>
                  <td><%= form.label :郵便番号 %></td>
                  <td><%= form.number_field :postcode %></td>
                </tr>
              </div>
    
              <div class="field">
                <tr>
                  <td><%= form.label :都道府県名 %></td>
                  <td><%= form.text_field :prefecture %></td>
                </tr>  
              </div>
    
              <div class="field">
                <tr>
                  <td><%= form.label :市町村名 %></td>
                  <td><%= form.text_field :city %></td>
                </tr>
              </div>
    
              <div class="field">
                <tr>
                  <td><%= form.label :地区名 %></td>
                  <td><%= form.text_field :town %></td>
                </tr>
              </div>
    
              <div class="field">
                <tr>
                  <td><%= form.label :以降住所 %></td>
                  <td><%= form.text_field :address %></td>
                </tr>
              </div>
    
              <div class="field">
                <tr>
                  <td><%= form.label :建物名 %></td>
                  <td><%= form.text_field :building %></td>
                </tr>
              </div>
     
              <div class="field">
                <tr>
                  <td><%= form.label :部屋番号 %></td>
                  <td><%= form.text_field :room_number %></td>
                </tr>
              </div>
  
            <% end %>
          </div>
     
          <div id="telephone_forms">
            <%= form.fields_for :telephone do |form| %>
  
              <div class="field">
                <tr>
                  <td><%= form.label :電話番号 %></td>
                  <td><%= form.number_field :number %></td>
                </tr>
              </div>

            <% end %>
          </div>
      
        </tbody>
      </table>
    
      <%= form.hidden_field :user_id %>
    
      <div class="actions">
        <%= form.submit %>
      </div>

    <% end %>
    
    <div id="mask" class="hidden"></div>
    <div id="modal" class="hidden">
      <p>モーダルウィンドウ</p>
    </div>

    <% if current_user.company.code == 100 %>
      <%= link_to '戻る', index_receive_orders_path %>
    <% else %>
      <%= link_to '戻る', orders_path %>
    <% end %>

  </div>
</section>

<script>
<% @supply.map do |s| %>
document.getElementById("<%= s.id %>").addEventListener('click', function() {
  var supply = document.getElementById("<%= s.id %>").id;

  $.ajax({
    url: "/orders/ajax",
    type: "GET",
    data: {
      supply: supply
    }
  })
})
<% end %>
</script>