<section class="section">
  <div class ="section_inner">

    <h1>注文内容修正</h1>

    <%= form_with(model: @order, local: true) do |form| %>
      <% if @order.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>
    
          <ul>
            <% @order.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    
      <div class="supply-list">
        <table class="osare3-table col4t">
          <thead>
            <tr>
              <th>商品コード</th>
              <th>商品名</th>
              <th>単価</th>
              <th>セット</th>
              <th id="order-form-last">平均個数</th>
            </tr>
          </thead>
    
          <tbody>
            <%= render partial:"orders/detail", locals: {supply: @supply} %>
          </tbody>
        </table>
    
        <table class="osare3-table col4t">
          <thead>
            <tr>
              <th id="order-form-first"></th>
              <th>個数</th>
              <th>チェック</th>
            </tr>
          </thead>
      
          <tbody>
            <%= form.fields_for :order_supplies do |supply| %>
              <tr>
                <td><%= supply.hidden_field :supply_id %></td>
                <td><%= supply.number_field :quantity, min: 0 %></td>
                <td><%= supply.check_box :availability, :as => :boolean %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    
    <% Order.order(created_at: :desc).limit(1).each do |f| %>
      <% if f.code.present? %>
        <% @order_code = f.code.to_i + 1 %>
      <% else %>
        <% @order_code = "1000001" %>
      <% end %>
    <% end %>
    
    
      <div class="field">
        <%= form.hidden_field :code, value: @order_code %>
      </div>
    
      <%= form.fields_for :status do |form| %>
        <%= form.hidden_field :status %>
      <% end %>
    
      <div class="field">
        <%= form.label :到着希望日 %>
        <%= form.date_select :date %>
      </div>
    
      <div id="name_forms">
      <%= form.fields_for :shipping do |form| %>
        <div class="field">
          <%= form.label :名前 %>
          <%= form.text_field :name, value: current_user.name %>
        </div>
      <% end %>
    </div>
    
      <div id="address_forms">
      <%= form.fields_for :address do |form| %>
        <div class="field">
          <%= form.label :郵便番号 %>
          <%= form.number_field :postcode, value: current_user.company.address.postcode %>
        </div>
    
        <div class="field">
          <%= form.label :都道府県名 %>
          <%= form.text_field :prefecture, value: current_user.company.address.prefecture %>      
        </div>
    
        <div class="field">
          <%= form.label :市町村名 %>
          <%= form.text_field :city, value: current_user.company.address.city %>
        </div>
    
        <div class="field">
          <%= form.label :地区名 %>
          <%= form.text_field :town, value: current_user.company.address.town %>
        </div>
    
        <div class="field">
          <%= form.label :以降住所 %>
          <%= form.text_field :address, value: current_user.company.address.address %>
        </div>
    
        <div class="field">
          <%= form.label :建物名 %>
          <%= form.text_field :building, value: current_user.company.address.building %>
        </div>
    
        <div class="field">
          <%= form.label :部屋番号 %>
          <%= form.text_field :room_number, value: current_user.company.address.room_number %>
        </div>
      <% end %>
    </div>
    
    <div id="telephone_forms">
      <%= form.fields_for :telephone do |form| %>
        <div class="field">
          <%= form.label :電話番号 %>
          <%= form.number_field :number, value: current_user.company.telephone.number %>
        </div>
      <% end %>
    </div>
    
    
      <div class="field">
        <%= form.hidden_field :user_id, value: current_user.id %>
      </div>
    
      <div class="actions">
        <%= form.submit %>
      </div>
    <% end %>
    
      <div id="mask" class="hidden"></div>
      <div id="modal" class="hidden">
        <p>モーダルウィンドウ</p>
      </div>
    <% if current_user.company.code == 100 %>
      <%= link_to '戻る', index_receive_orders_path %>
    <% else %>
      <%= link_to '戻る', orders_path %>
    <% end %>

  </div>
</section>
