<section class="section">
  <div class ="section_inner">

    <h1><%= @supply.name %> 発注一覧</h1>

    <p id="notice"><%= notice %></p>

    <table class="osare3-table col4t">
      <thead>
        <tr>
          <th>購入数1位</th>
          <th>購入数2位</th>
          <th>購入数3位</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td></td>
        </tr>
      </tbody>
    </table>

    <table class="osare3-table col4t">
      <thead>
        <tr>
          <th>日付</th>
          <th>単価</th>
          <th>セット数</th>
          <th>個数</th>
          <th>金額</th>
          <th>ステータス</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @order_supplies.each do |o| %>
          <tr>
            <td><%= o.created_at.strftime("%Y年%m月%d日") %></td>
            <td><%= o.supply.price %></td>
            <td><%= o.supply.set %></td>
            <td><%= o.quantity %></td>
            <td><%= o.quantity * o.supply.price %></td>
            <td><%= o.order.status.status %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to '発注申請', new_order_path %>

  </div>
</section>
