<section class="section">
  <div class ="section_inner">

    <h1>受注一覧 <%= @day.strftime("%m/%d") %></h1>

    <p id="notice"><%= notice %></p>

    <table class="osare3-table col4t">
      <thead>
        <tr>
          <th>新規受付</th>
          <th>発送待ち</th>
          <th>発送中</th>
          <th>請求書作成待ち</th>
          <th>請求書承認待ち</th>
          <th>取引完了</th>
          <th>受注不可</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td><%= @orders_0 %></td>
          <td><%= @orders_1 %></td>
          <td><%= @orders_2 %></td>
          <td><%= @orders_3 %></td>
          <td><%= @orders_4 %></td>
          <td><%= @orders_5 %></td>
          <td><%= @orders_6 %></td>
        </tr>
      </tbody>
    </table>

    <%= link_to "前日", index_receive_orders_path(day: @day.prev_day) %>
    <%= link_to "翌日", index_receive_orders_path(day: @day.next_day) %>
    <%= link_to "受注月ごと", index_receive_month_orders_path %>
    <%= link_to "発送日ごと", index_receive_delivery_orders_path %>
    <%= link_to "to do list", index_day_schedules_path %>

    <table class="osare3-table col4t">
      <thead>
        <tr>
          <th>社名</th>
          <th>発注日</th>
          <th>商品数</th>
          <th>合計金額</th>
          <th>希望到着日</th>
          <th>詳細</th>
          <th>編集</th>
          <th>ステータス</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @orders.each do |order| %>
          <tr>
            <td><%= order.user.company.name %></td>
            <td><%= order.created_at.strftime("%Y年%m月%d日") %></td>
            <td><%= order.order_supplies.where.not(quantity: 0).count %>点</td>
            <td><%= order.total_price %>円</td>
            <td><%= order.date.strftime("%Y年%m月%d日") %></td>
            <td><%= link_to '詳細', order %></td>
            <td><%= link_to '編集', edit_order_path(order) %></td>
        
            <% if order.status.present? %>
              <% if order.status.status == "新規受付" %>
                <td><%= order.status.status %></td>
                <td><%= link_to "受注受け入れ",  update_1_status_path(order.status), method: :post %></td>
                <td><%= link_to "受注不可",  update_6_status_path(order.status), method: :post %></td>
              
              <% elsif order.status.status == "発送待ち" %>
                <td><%= order.status.status %></td>
                <td><%= link_to 'スケジュール一覧',  schedules_path(order) %></td>
                <td><%= link_to '配達状況登録',  new_delivery_path(order) %></td>
              
              <% elsif order.status.status == "発送中" %>
                <td><%= order.status.status %></td>
                <td><%= link_to '配達情報詳細',  delivery_path(order.delivery) %></td>
            
              <% elsif order.status.status == "請求書作成待ち" %>
                <td><%= order.status.status %></td>
                <td><%= link_to '請求書作成',  new_invoice_path(order) %></td>
              
              <% elsif order.status.status == "請求書承認待ち" %>
                <td><%= order.status.status %></td>
                <td><%= link_to '請求書詳細',  invoice_path(order.invoice) %></td>
                  <% if current_user.admin == true %>
                    <td><%= link_to '請求書承認',  update_invoice_approval_path(order.invoice.approval), method: :post %></td>
                  <% end %>
              
              <% elsif order.status.status == "請求書送付済み" %>
                <td><%= order.status.status %></td>
                <td><%= link_to '請求書詳細',  invoice_path(order.invoice) %></td>
          
              <% else %>
                <td><%= order.status.status %></td>
              <% end %>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  
  </div>
</section>