<section class="section">
  <div class ="section_inner">

    <h1><%= @supply.name %> 発注一覧 <%= @month.strftime("%m月") %></h1>

    <p id="notice"><%= notice %></p>

    <table class="osare3-table col4t">
      <thead>
        <tr>
        <th><%= @month.strftime("%m月") %>購入金額合計</th>
        <th><%= @month.strftime("%m月") %>発注回数</th>
        <th><%= @month.strftime("%m月") %>平均購入金額</th>
        <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>￥<%= @order_supplies_sum.floor %></td>
          <td><%= @order_supplies.count %>回</td>
          <% if @order_supplies.count != 0 %>
            <td>￥<%= (@order_supplies_sum / @order_supplies.count).floor %></td>
          <% else %>
            <td>0</td>
          <% end %>
      </tr>
      </tbody>
    </table>

    <%= link_to "前月", index_supply_orders_path(month: @month.prev_month, supply: @supply) %>
    <%= link_to "翌月", index_supply_orders_path(month: @month.next_month, supply: @supply) %>

    <table class="osare3-table col4t">
      <thead>
        <tr>
          <th>日付</th>
          <th>単価</th>
          <th>セット数</th>
          <th>個数</th>
          <th>金額</th>
          <th>ステータス</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @order_supplies.each do |o| %>
          <tr>
            <td><%= o.created_at.strftime("%Y年%m月%d日") %></td>
            <td><%= o.supply.price %></td>
            <td><%= o.supply.set %></td>
            <td><%= o.quantity %></td>
            <td><%= o.quantity * o.supply.price %></td>
            <td><%= o.order.status.status %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to '発注申請', new_order_path %>

  </div>
</section>
