<section class="section">
<div class="section_inner">
  <div class= "title">
    <h1>注文詳細</h1>
  </div>

  <% flash.each do |key, value| %>
    <%= content_tag(:div, value, class: "#{key}") %>
  <% end %>   
  

    <table class="osare3-table col4t show">
      <tbody>

        <tr>
          <td>注文コード</td>
          <td><%= @order.code %></td>
        </tr>

        <tr>
          <td>到着希望日</td>
          <td><%= @order.date.strftime("%Y年%m月%d日") %></td>
        </tr>

        <tr>
          <td>名前</td>
          <td><%= @order.shipping.name %></td>
        </tr>
        
        <tr>
        <td>住所</td>
        <td>
          <%= @order.address.prefecture %>
          <%= @order.address.city %>
          <%= @order.address.town %>
          <%= @order.address.address %>
          <%= @order.address.building %>
          <%= @order.address.room_number %>
        </td>
      </tr>

        <tr>
          <td>合計金額</td>
          <td><%= @order.total_price %>円</td>
        </tr>

      <tbody>
    </table>
    
    <table>
      <thead>
        <tr>
          <td>商品コード</td>
          <td>商品名</td>
          <td>単価</td>
          <td>セット数</td>
          <td>個数</td>
        </tr>
      </thead>
      <tboby>
        <% @order.order_supplies.all.each do |f| %>
          <tr>
            <td><%= f.supply.code %></td>
            <td><%= f.supply.name %></td>
            <td><%= f.supply.price %></td>
            <td><%= f.supply.set %></td>
            <td><%= f.quantity %></td>
            <td><%= link_to "商品ごとの発注一覧", index_supply_orders_path(f.supply)%></td>

          </tr>
        <% end %>
      <tbody>
    </table>

    <%= link_to '編集', edit_order_path(@order) %> |
    <% if current_user.company.code == 100 %>
      <%= link_to '戻る', index_receive_orders_path %>
    <% else %>
      <%= link_to '戻る', orders_path %>
    <% end %>
    </div>
</section>