<div class="field">
  <%= form.label :商品名 %>
  <select id= "form-name">
    <option value="">--選択してください--</option>
    <% Product.all.each do |f| %>
      <option value=<%= f.id %>><%= f.name %></option>
    <% end %>
  </select>
  <%= form.hidden_field :name %>
</div>

<div class="field">
  <%= form.label :商品コード %>
  <%= form.text_field :code %>
</div>

<div class="field">
  <%= form.label :単価 %>
  <%= form.text_field :price %>
</div>

<div class="field">
  <%= form.label :セット数 %>
  <%= form.text_field :set %>
</div>

<div class="field">
  <%= form.label :説明 %>
  <%= form.text_field :content %>
</div>

<div class="field">
  <%= form.hidden_field :product_id %>
</div>

<div class="field">
  <%= form.hidden_field :stock_id %>
</div>

<script>
  document.getElementById("form-name").addEventListener('change', function() {
    var product = document.getElementById("form-name");
    var product_id = product.value

    $.ajax({
      url: "/supplies/ajax",
      type: "GET",
      data: {
        product_id: product_id
      }
    })
  })
</script>