<section class="section">
  <div class ="section_inner">

    <h1>販売商品編集</h1>
    
    <%= form_with(model: @supply, local: true) do |form| %>
      <% if @supply.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@supply.errors.count, "error") %> prohibited this supply from being saved:</h2>

          <ul>
            <% @supply.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>

        </div>
      <% end %>
  
      <div id="form-supply">
      <table>
      <tbody>
    
        <div class="field">
          <tr>
            <td><%= form.label :商品名 %></td>
            <td><%= form.text_field :name, readonly: true %></td>
          </tr>          
        </div>
    
        <div class="field">
          <tr>
            <td><%= form.label :商品コード %></td>
            <td><%= form.text_field :code %></td>
          </tr>
        </div>
    
        <div class="field">
          <tr>
            <td><%= form.label :単価 %></td>
            <td><%= form.text_field :price %></td>
          </tr>
        </div>
    
        <div class="field">
          <tr>
            <td><%= form.label :セット数 %></td>
            <td><%= form.text_field :set %></td>
          </tr>
        </div>
    
        <div class="field">
          <tr>
            <td><%= form.label :説明 %></td>
            <td><%= form.text_field :content %></td>
          </tr>
        </div>
    
        <%= form.hidden_field :product_id %>
        <%= form.hidden_field :stock_id %>
    
      </tbody>
    </table>
          </div>
  
      <div class="actions">
        <%= form.submit %>
      </div>
    <% end %>
  
    <%= link_to '戻る', supplies_path %>

  </div>
</section>
