<section class="section">
  <div class ="section_inner">

    <h1>販売商品登録</h1>

    <%= form_with(model: @supply, local: true) do |form| %>
      <% if @supply.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@supply.errors.count, "error") %> prohibited this supply from being saved:</h2>
  
          <ul>
            <% @supply.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>

        </div>
      <% end %>
  
      <div id="form-supply">
        <%= render 'ajax', { form: form } %>
      </div>
  
      <div class="actions">
        <%= form.submit %>
      </div>
    <% end %>
  
    <%= link_to '戻る', supplies_path %>

  </div>
</section>