<section class="section">
  <div class="section_inner">
    <div class= "title">
      <% if current_user.company != @company %> 
        <h1>取引先詳細</h1>
      <% else %>
        <h1>会社情報詳細</h1>
      <% end %>
      </div>
    <table class="osare3-table col4t show">
      <tbody>

        <tr>
          <td>企業コード</td>
          <td><%= @company.code %></td>
        </tr>

        <tr>
          <td>社名</td>
          <td><%= @company.name %></td>
        </tr>

        <tr>
          <td>郵便番号</td>
          <td><%= @company.address.postcode %></td>
        </tr>

        <tr>
          <td>住所</td>
          <td>
            <%= @company.address.prefecture %>
            <%= @company.address.city %>
            <%= @company.address.town %>
            <%= @company.address.address %>
            <%= @company.address.building %>
            <%= @company.address.room_number %>
          </td>
        </tr>

        <% if current_user.admin == true %>
          <tr>
            <td><strong>口座情報</strong></td>
          </tr>

          <tr>
            <td>銀行名</td>
            <td><%= @company.payee.bank %></td>
          </tr>

          <tr>
            <td>支店名</td>
            <td><%= @company.payee.branch %></td>
          </tr>

          <tr>
            <td>口座種類</td>
            <td><%= @company.payee.kind %></td>
          </tr>

          <tr>
            <td>口座番号</td>
            <td><%= @company.payee.number %></td>
          </tr>



        <% end %>
   

      <tbody>
    </table>

    <% if current_user.company.code == 100 && current_user.admin == true %>
      <%= link_to '口座編集', edit_payee_path(@company.payee) %>
    <% end %>

    <%= link_to '編集', edit_company_path(@company) %> |

    <% if current_user.company.code == 100 %>
      <%= link_to '戻る', companies_path %>
    <% end %>

  </div>
</section>