<%= form_with(model: payee, local: true) do |form| %>
  <% if payee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(payee.errors.count, "error") %> prohibited this company from being saved:</h2>

      <ul>
        <% payee.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :銀行名 %>
    <%= form.text_field :bank %>
  </div>

  <div class="field">
    <%= form.label :支店名 %>
    <%= form.text_field :branch %>
  </div>

  <div class="field">
    <%= form.label :口座種類 %>
    <%= form.text_field :kind %>
  </div>

  <div class="field">
    <%= form.label :口座番号 %>
    <%= form.text_field :number %>
  </div>

  <%= form.hidden_field :company_id, value: current_user.company.code %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

