<p id="notice"><%= notice %></p>

<h1>在庫一覧</h1>

<table>
  <thead>
    <tr>
      <th>カテゴリー</th>
      <th>商品名</th>
      <th>在庫数</th>
      <th>発注予定数</th>
      <th>詳細</th>
      <th>在庫編集</th>
      <th>削除</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.category.name %></td>
        <td><%= product.name %></td>
        <td><%= product.stock.quantity %></td>
        <td></td>
        <td><%= link_to '詳細', product %></td>
        <td><%= link_to '編集', edit_product_path(product) %></td>
        <td><%= link_to '削除', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新規登録', new_product_path %>
<%= link_to 'カテゴリー一覧', categories_path %>
